*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    color:white;
    /* background-color: #050505; */
    background-color: black;
    font-family: 'Mozilla Text', sans-serif;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color:white;
}
nav{
    width:100%;
    padding: 0.4rem 5%;
    background-color: #2e2e2f;
    border-bottom: 1px solid rgba(44, 44, 44, 0.5);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.logo{
    font-size:1.8rem;
    font-weight: 700;
    color:white;
    letter-spacing: 1px;
}
.nav-links{
    list-style:none;
    display:flex;
    gap:2rem;
}
.nav-links li a{
    position: relative;
    font-size:1.05rem;
    font-weight: 500;
    text-decoration: none;
    color:white;
}
.btns{
    display:flex;
    gap:1rem;
}
.btn{
    /* padding:0.5rem 1.5rem; */
    padding:0.3rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    background: white;
    border:none;
    cursor:pointer;
    transition:0.3s;
}
.btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(227, 224, 224);
    box-shadow: 0 0 5px rgba(210, 210, 216, 0.9);
    align-items: center;
}
.hero{
    display:flex;
    justify-content: center;
}
.hero img{
    display:block;
    border-radius: 12px;
    width: min(90vw, 600px);
    height:auto;
    max-height:90vh;
    object-fit: cover;
}
.dash-cnt{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px; 
    gap: 70px;
}
.qoute,.promo{
    padding-top:11rem;
    max-width: 25rem;
    display:flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 3.5rem;
}
.qoute-part{
    display:inline-block;
    background-color: white;
    color: black;
    padding: 0 10px;
}
.promo1{
    text-align: right;
    font-size:2.6rem;
    margin-bottom: 1.4rem;
}
.promo2{
    /* max-width: 20rem; */
    text-align: right;
    font-weight: 400;
    font-size:1.3rem;
}
.sign_up2_cont, .mem_login2{
    display:flex;
    justify-content: center;
}
.sign_up2{
    font-family: "mozilla text";
    letter-spacing: 1px;
    border-radius: 5px;
    padding:0.4rem 7.5rem;
    margin-top:2rem;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.4rem;
    font-weight:800;
    transition: 0.4s;
}
.mem_login2{
    padding-top:1rem;
    font-size: 0.99rem;
    font-weight: normal;
}
.log_in_txt{
    text-decoration: underline;
    color:white;
}
.sign_up2:hover{
    color:white;
    background-color: black;
    box-shadow: 0 1px 10px whitesmoke;
}
footer{
    background-color: #1a1a1a;
    color:#ffffff;
    border-top: 1px solid #333;
}
.footer_content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:2rem;
    max-width: 1200px;
    margin:0 auto;
    padding: 1rem 2rem 1rem 2rem;
}
.footer_bottom{
    text-align: center;
    background-color: #111;
    font-size: 0.8rem;
    color: #777;
    padding: 0.3rem 0;
}
.footer_bottom a{
    color:white;
}
.footer_sec{
    flex:1 1 250px;
}
.footer_sec p{
    font-size: 0.9rem;
    color: #ccc;
    line-height: 1.6;
}
.login_cnt{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login_form{
    background-color: white;
    color:black;
    max-width: 23rem;
    padding:2.5rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.login_form a{
    text-decoration: underline;
    color:black;
}
.login_form h2{
    margin-bottom: 1.2rem;
    text-align: center;
}
.input{
    margin-bottom: 1.2rem;
    display:flex;
    gap:0.5rem;
}
.input label{
    font-weight: 600;
    font-size:0.9rem;
}
.input input{
    padding:0.5rem 3rem;
    border:1px solid #000000;
    border-radius: 6px;
}